  <form name="taskForm" ng-submit="taskForm.$valid && $ctrl.addTask()" novalidate>
    <div class="task-details">
      <input ng-model="$ctrl.newTask.description" placeholder="Write down your task" autofocus required>
      <div class="input-error">Task can't be empty</div>
      <select ng-model="$ctrl.newTask.priority" class="label" ng-class="$ctrl.determinePriority($ctrl.newTask)">
        <option value="Low" class="label-success">Low</option>
        <option value="High" class="label-warning">High</option>
      </select>
      <button type="submit" class="btn btn-success pull-right task-add-mobile" ng-if="$ctrl.newTask.description">Submit</button>
    </div>
    <button type="submit" ng-if="$ctrl.newTask.description" class="task-add"></button>
  </form>
  <div>
    <div class="task" ng-repeat="task in $ctrl.tasks" ng-init="showRemove=false; task.editing = false" ng-mouseenter="showRemove=true" ng-mouseleave="showRemove=false">
      <div class="task-complete" ng-if="!task.editing">
        <input type="checkbox" ng-model="task.completed">
      </div>
      <div class="task-description" title="double-click to edit" ng-dblclick="!task.completed && (task.editing = !task.editing)" ng-if="!task.editing">
        <span ng-bind="task.description" class="description" ng-class="{'task-completed' : task.completed}"></span>
        <span class="label label-default" ng-class="$ctrl.determinePriority(task)" ng-bind="task.priority"></span>
        <div class="task-mobile-buttons">
          <button type="button" ng-click="task.completed = ! task.completed" class="btn btn-primary task-complete-mobile" ng-bind="$ctrl.select_button(task)"></button>
          <button type="button" ng-click="$ctrl.taskRemove(task)" class="btn btn-danger pull-right">Delete</button>
          <button type="button" ng-if="!task.completed" ng-click="task.editing = !task.editing" class="btn btn-default pull-right">Edit</button>
        </div>
      </div>
      <span class="task-remove" ng-click="$ctrl.taskRemove(task)" ng-if="showRemove && !task.editing"></span>
      <div class="task-edit" ng-if="task.editing">
        <input ng-model="task.description" ng-keyup="$ctrl.acceptEdit(task, $event)">
        <select ng-model="task.priority" class="label" ng-class="$ctrl.determinePriority(task)">
          <option value="Low" class="label-success">Low</option>
          <option value="High" class="label-warning">High</option>
        </select>
        <button type="button" class="btn btn-success pull-right task-add-mobile ng-scope" ng-click="$ctrl.acceptEdit(task, $event)">Submit</button>
      </div>
      <button ng-if="task.editing" ng-click="$ctrl.acceptEdit(task, $event)" class="task-add"></button>
    </div>
  </div>
  <div ng-if="$ctrl.tasks.length">
    <div class="info">
      <span ng-bind="$ctrl.completedTasks()"></span> of <span ng-bind="$ctrl.tasks.length"></span> tasks completed
    </div>
    <div class="button-footer">
      <button type="button" ng-click="$ctrl.selectAll()" class="btn btn-default pull-right" ng-bind="$ctrl.selectAll_button()"></button>
      <button type="button" ng-click="$ctrl.removeCompleted()" ng-if="$ctrl.completedTasks()" class="btn btn-default pull-left">Remove completed</button>
    </div>
  </div>
