@media screen and (max-width: 1024px) {
  body{
    background-size: initial;
  }

  .content{
      display: inline-block;
      position: relative;
      width: 80%;
      margin: 0;
      top: auto;
      margin-left: 10%;
    }

  .background-switcher{
    display: none;
  }

  .task-details{
    margin-left: 0;
    margin-right: 0;
  }

  form input{
    padding-right: 0;
  }

  .input-error{
    margin: 0;
  }

  form .label{
    position: relative;
  }

  .task-description{
    margin-left: 0;
    margin-right: 0;
  }

  .task-description span.label{
    position: relative;
  }

  .description{
    margin-right: 0;
  }

  .task-mobile-buttons{
    display: block;
    margin-top: 5px;
  }

  .task-mobile-buttons button:last-child{
    margin-right: 5px;
  }

  .task-add-mobile{
    display: inline-block;
    height: 28.5px;
    padding: .2em .6em .3em;
    font-weight: bold;
    margin-top: 1px;
  }

  .task-add, .task-remove{
    display: none;
  }

  .task-complete{
    display: none;
  }

  .task-complete-mobile{
    display: inline-block;
  }

  .task-edit{
    margin: 0;
  }

  .task-edit .label{
    position: relative;
  }

  .task-edit input{
    padding: 0;
  }

}

@media screen and (max-width: 320px) {
  .button-footer .btn{
    font-size: 13px;
  }
}
